<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WrongDestination" value=""/>
    <add key ="EmptyDestination" value=""/>
    <add key ="EmptyBooking" value=""/>
    <add key ="WrongBooking" value="193103909301930130gdgdgd13109301"/>
    <add key ="EmptySurname" value=""/>
    <add key ="WrongSurname" value="kiklopoadjaodjadjapdjapjdpadapd"/> 
    <add key ="WrongCity" value="12131313131313131313131"/>
  </appSettings>
</configuration>